.header-entrada {
  margin: 0 auto;
  text-align: center;
  padding: 1em 0;

  &:before {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    border-top: 1px solid #E9E9E9;
    box-shadow: 1px 1px #fff;
    background: #BEBEBE;
    content: " ";
  }
}

.header-title {
  margin: 0.3em 0 0.5em 0;
}

.header-avatar {
  display: block;
}

.header-avatar-image {
  width: 91px;
  height: 91px;
  border-radius: 50%;
  border: 10px #ddd solid;
}
