.header-entrada {

    margin: 40px auto 0;

    &:before {
        position: absolute;
        right: 0;
        bottom: -11px;
        width: 680px;
        height: 1px;
        border-top: 1px solid #E9E9E9;
        background: #BEBEBE;
        content: " ";
    }

    h1 {
        margin: 0;
        padding: 0;
        line-height: 24px;

        &:after {
            content: '|';
            position: relative;
            top: -4px;
            -webkit-animation-duration: 700ms;
            animation-duration: 700ms;
            -webkit-animation-name: typeThisOpacity;
            animation-name: typeThisOpacity;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-direction: normal;
            animation-direction: normal;
            -webkit-animation-timing-function: steps(2, end);
            animation-timing-function: steps(2, end);
        }
    }

    p {
        margin: 6px 0;
    }

    .avatar {
        float: left;
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}

@-webkit-keyframes typeThisOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes typeThisOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
