.home-post-container,
.post-container {
  padding: 1em;
  margin: 1em 0;
  -webkit-box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow:    0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  box-shadow:         0px 10px 10px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #e3e3e3;

  p {
    font-size: 16px;
  }

  h2 {
    margin: 1em 0;
    line-height: 35px;
  }
}

.home-post-container h2 {
  margin: 0 0 1em 0;
  line-height: 35px;
}

.home-post-image {
  float: left;
  position: relative;
  width: 190px;
  height: 150px;
  overflow: hidden;
  margin: 0 11px 0 0;

  img {
  position: absolute;
  }
}

.home-post-resumo {
  line-height: 15px;
}

.home-post-link {
  display: block;
  overflow: hidden;

  img {
    transition: all 10s linear;
    -webkit-transition: all 10s linear;
    -moz-transition: all 10s linear;
    -o-transition: all 10s linear;
    -ms-transition: all 10s linear;
    background: url(/img/img-loading.gif) center center no-repeat;
  }

  &:hover, &:focus {

    p, h2 {
      color: #6B6B6B;
    }

    h2 {
      text-decoration: underline;
    }

    img {
      -webkit-transform: scale(1.4);
    }
  }
}

.post-container {
  a {
    border-bottom: 1px dashed #333;
  }

}

.fb-like {
  position: relative;
  top: -3px;
  margin: 0 33px 0 0;
}

#disqus_thread,
.post-share-links {
  padding: 20px;
  max-width: 100%;
  border-top: 1px dashed #999;
}
