.home-post-container,
.post-container {
  margin: 20px 0 0 22px;

  p {
    font-size: 16px;
  }

  h2 {
    margin: 0;
    line-height: 35px;
  }
}

.post-list-wrapper {
  -webkit-perspective: 400px;
  -moz-perspective: 400px;
  perspective: 400px;

  .post-list-item {
    -webkit-transform-origin: top;
    -webkit-perspective-origin: top;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;

    -moz-transform-origin: top;
    -moz-perspective-origin: top;
    -moz-transform-style: preserve-3d;
    -moz-backface-visibility: hidden;

    transform-origin: top;
    perspective-origin: top;
    transform-style: preserve-3d;
    backface-visibility: hidden;

    &.animate {
      -webkit-animation-duration: 700ms;
      -webkit-animation-name: introPostArticle;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-direction: normal;
      -webkit-animation-fill-mode: forwards;

      -moz-animation-duration: 700ms;
      -moz-animation-name: introPostArticle;
      -moz-animation-iteration-count: 1;
      -moz-animation-direction: normal;
      -moz-animation-fill-mode: forwards;

      animation-duration: 700ms;
      animation-name: introPostArticle;
      animation-iteration-count: 1;
      animation-direction: normal;
      animation-fill-mode: forwards;
    }

    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    opacity: 0;
  }
}

@-webkit-keyframes introPostArticle {
  0% {
    -webkit-transform: rotateX(90deg);
    opacity: 0;
  }

  100% {
    -webkit-transform: rotateX(0deg);
    opacity: 1;
  }
}

@-moz-keyframes introPostArticle {
  0% {
    -moz-transform: rotateX(90deg);
    opacity: 0;
  }

  100% {
    -moz-transform: rotateX(0deg);
    opacity: 1;
  }
}

@keyframes introPostArticle {
  0% {
    transform: rotateX(90deg);
    opacity: 0;
  }

  100% {
    transform: rotateX(0deg);
    opacity: 1;
  }
}

.home-post-image {
  float: left;
  position: relative;
  width: 190px;
  height: 150px;
  overflow: hidden;
  margin: 0 11px 0 0;

  img {
    position: absolute;
  }
}

.home-post-resumo {
  line-height: 15px;
}

.home-post-link {
  display: block;
  overflow: hidden;

  img {
    transition: all 10s linear;
    -webkit-transition: all 10s linear;
    -moz-transition: all 10s linear;
    -o-transition: all 10s linear;
    -ms-transition: all 10s linear;
    background: url(/img/img-loading.gif) center center no-repeat;
  }

  &:hover, &:focus {

    p, h2 {
      color: #6B6B6B;
    }

    h2 {
      text-decoration: underline;
    }

    img {
      -webkit-transform: scale(1.4);
      -moz-transform: scale(1.4);
      transform: scale(1.4);
    }
  }
}

.post-container {
  a {
    border-bottom: 1px dashed #333;
  }

}

.fb-like {
  position: relative;
  top: -3px;
  margin: 0 33px 0 0;
}

#disqus_thread,
.post-share-links {
  margin: 17px 0 0 23px;
  padding: 20px 0 0 0;
  width: 677px;
  border-top: 1px dashed #999;
}
