<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title - }} {% endif %}Felquis Front-end Developer </title>
  <meta name="description" content="Um Desenvolvedor Front-end afim de fazer coisas incríveis.">
  <meta name="viewport" content="width=device-width">
  <link href="http://fonts.googleapis.com/css?family=Share+Tech" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <div id="main">
    <article>
      {{ content }}

      <img src="img/default-share-image.jpg" alt="" class="none">
    </article>
  </div>
  </body>
</html>