<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title>{% if page.title %}{{ page.title - }}{% endif %} {{ site.title }}</title>
  <meta name="description" content="{% if page.resumo %}{{ page.resumo }}{% else %} {{ site.description }} {% endif %}" />
  <meta property="og:description" content="{% if page.resumo %}{{ page.resumo }}{% else %} {{ site.description }} {% endif %}" />

  {% if page.author_profile %}
    <link rel="author" href="{{ page.author_profile }}" />
  {% else %}
    <link rel="author" href="https://plus.google.com/102754289882659476963/" />
  {% endif %}

  <meta property="og:locale" content="pt_BR" />
  <meta property="fb:admins" content="100001345144139" />
  <meta property="og:title" content="{% if page.title %} {{ page.title - }} {% endif %} {{ site.title }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/img/default-share-image.jpg{% endif %}" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:url" content="{{ site.url }}" />
  <meta name="twitter:title" content="{% if page.title %} {{ page.title - }} {% endif %} {{ site.title }}" />
  <meta name="twitter:creator" content="@{{ page.twitter_creator }}" />
  <meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ page.image }}{% else %}{{ site.url }}/img/default-share-image.jpg{% endif %}" />
  <meta name="twitter:description" content="{% if page.resumo %}{{ page.resumo }}{% else %} {{ site.description }} {% endif %}" />

  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div id="fb-root"></div>
    <div class="header-entrada row container-custom">
        <a href="/index.html" title="Ir para o inicio">
            <img src="/img/default-share-image.jpg" alt="" class="avatar span2" />
        </a>

        <div class="span7">
            <h1>{{ site.title }}</h1>

            <p>{{ site.description }}</p>

            <nav class="nav-wrap">
                <ul class="nav-itens-wrap">

                  {% if page.url != "/index.html" %}
                    <li class="nav-item-wrap">
                      <a href="/" title="Inicio" class="nav-item">Inicio</a>
                    </li>
                  {% endif %}

                  <li class="nav-item-wrap">
                    <a href="https://github.com/DevCastBrasil/nativebuild.com" title="Github" class="nav-item" target="_blank">Github</a>
                  </li>

                  <li class="nav-item-wrap">
                    <a href="https://www.facebook.com/NativeBuild" title="Facebook NativeBuild" class="nav-item" target="_blank">Facebook</a>
                  </li>
                </ul>
            </nav>
        </div>
    </div>

    {{ content }}

    <hr class="row">

    <div class="container-custom row">
        {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}" style="float: left">Voltar</a>
        {% endif %}

        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}" style="float: right">Mais posts</a>
        {% endif %}
    </div>

    <hr class="row">

    <script src="js/main.js"></script>
    <script>
        {% include analytics.js %}

        // Twitter share button
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

        // +1 button
        window.___gcfg = {lang: 'pt-BR'};

        (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

        // Facebook like button
        (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=416324911779071";
        fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>